@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";
@plugin "@tailwindcss/typography";

@layer base {
  :root {
    --animate-dropdown: dropdown 0.3s forwards;
    --animate-slideup: slideup 0.3s forwards;
  }
}

@layer components {
  .animate-dropdown {
    animation: var(--animate-dropdown);
    transform-origin: top;
  }
  .animate-slideup {
    animation: var(--animate-slideup);
    transform-origin: top;
  }
}
@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    width: 4px;
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    background: #1e293b;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #db2777;
    border-radius: 9999px;
  }
  .vt-image {
    view-transition-name: post-image;
  }
  .vt-title {
    view-transition-name: post-title;
  }
}

@keyframes dropdown {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes slideup {
  from {
    transform: scaleY(1);
    opacity: 1;
  }
  to {
    transform: scaleY(0);
    opacity: 0;
  }
}
